<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netmi.baselibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--状态栏权限-->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!--安卓9的系统适配-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.BaseWebviewActivity" />


        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>
